.side-bar        
  .side-bar__username
    .top
      .top__name Nishikawa 
      .top__icon
      = link_to "#", class: "top__icon__btn top__icon__btn" do
        = icon('fas fa-cog',  class: "top__icon__btn--icon")            
      = link_to "#", class: "top__icon__btn top__icon__btn" do
        = icon('far fa-edit',  class: "top__icon__btn--icon")  
  .side-bar__group
    .group__list
      .list__thema Ruby学習
      .list__content 本日もよろしくお願い致します。        
